{% extends 'base.html' %}

{% block content %}

<h1 class="text-center">Edit Existing Category</h1>
<br />
<form action="{{ url_for('category.edit', id=cat.id) }}" method="post">
    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <input type="text" name="name" id="name" value="{{ cat.name }}" class="form-control" />
        </div>
    </div>

    <br />
    <div class="form-group row">
        <div class="col-sm-10 offset-sm-1">
            <button type="submit" class="btn btn-primary">Edit</button> |
            <a href="{{ url_for('category.index') }}" class="btn btn-secondary">Cancel</a>
        </div>
    </div>
</form>

{% endblock %}